*{
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

header{
    height: 50vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}

@media(max-width: 800px){
    header{
        height: 30vh;
    }
}

video.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1{
    position: absolute;
    color: white;
    z-index: 1;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background-color: rgba(0,0,0,0.5);
    padding: 15px 0;
    /* opacity: 0; */
    animation: text 12s infinite both;
}

header h1:nth-of-type(2){
    animation-delay: 4s;
}

header h1:nth-of-type(3){
    animation-delay: 8s;
}

@keyframes text{
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}