body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.wrapper
{
	wdth: 100%;
}

.header

{
	width: 100%;
	padding: 40px 0;
}

.logo
{
	width:450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.nav
{
	background-color: #c34f4f;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
	height: 40px;
}

.content
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: justify;
}

.socials
{
	background-color: #292929;
	text-align: center;
	width: 100%;
}